{% extends 'base.html' %}

{% block title %} {{ static_content['title'] }} {% endblock %}

{% block content %}
<hr>
<form method="post">
    <div class="form-group row">
        <label for="user_id" class="col-sm-2 col-form-label">User Id:</label>
        <div class="col-sm-10">
            <input type="text" name="user_id"
                   placeholder="Phone Number" class="form-control"
                   value="{{ request.form['user_id'] }}"></input>
        </div>
    </div>
    <hr>


    <div class="form-group row">

        <label class="col-sm-2 col-form-label">Location:</label>
        <div class="col-sm-4">
        {% for location in locations_lookup %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="user_locations" value="{{ location }}" >
                <label class="form-check-label" >
                    {{ location }}
                </label>
            </div>
        {% endfor %}
        </div>

        <label class="col-sm-2 col-form-label">Language:</label>
        <div class="col-sm-4">
        {% for language in languages_lookup %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="user_languages" value="{{ language }}">
                <label class="form-check-label" >
                    {{ language }}
                </label>
            </div>
        {% endfor %}
        </div>

    </div>


    <div class="form-group row"></div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Genre:</label>
        <div class="col-sm-4">
        {% for genre in genres_lookup %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="user_genres" value="{{ genre }}">
                <label class="form-check-label" >
                    {{ genre }}
                </label>
            </div>
        {% endfor %}
        </div>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
{% endblock %}